
<br><br>
<h3>{{country}}</h3>
<h5>By Day: <span ng-repeat="d in survey_dates">{{d.survey_count}} </span></h5>

<br>
<h4>Surveys by Enumerator</h4>
<div class="table-responsive">

    <table class="table table-hover">
        <th>Enqueteur</th>
        <th># Surveys</th>
        <tr ng-repeat="s in survey">
            <td>{{s.enqueteur}}</td>
            <td>{{s.survey_count}}</td>
        </tr>
    </table>
</div>

<h4>Surveys by Equipe</h4>
<div class="table-responsive">

    <table class="table table-hover">
        <th>Equipe</th>
        <th># Surveys</th>
        <tr ng-repeat="e in equipes">
            <td>{{e.equipe_no}}</td>
            <td>{{e.survey_count}}</td>
        </tr>
    </table>
</div>

<h4>Surveys by Village</h4>
<div class="table-responsive">

    <table class="table table-hover">
        <th>Village</th>
        <th># Surveys</th>
        <tr ng-repeat="a in area">
            <td>{{a.village}}</td>
            <td>{{a.survey_count}}</td>
        </tr>
    </table>
</div>

<div class="footer">
    <p>&copy; Helen Keller International, 2013</p>
</div>




